<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      <h2 class="inactive underlineHover">Sign Up </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://image.flaticon.com/icons/png/512/25/25231.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="username" >
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password" >
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="getAccessToken()" >
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>